.logo{
    width: 30%;
    margin: auto;
}
.nav-link-register{
    
    padding: 10px 25px 10px ;
    background-color: #384957d5;
    color: #F7F7F7;
    text-decoration: none;
}
.nav-link-login{
    
    padding: 10px 25px 10px ;
    background-color: #384957d5;
    color: #F7F7F7;
    text-decoration: none;
}




#home{
    background-color: #f8f7f2;
    min-height: 300px;
}
.consultation{
    text-decoration: none;
    background-color: #384957d5;
    color: #F7F7F7;
    padding: 10px 30px 15px ;
    margin-left:40%;
    
}
#practice img{
    width: 100%;
}

.attorneys img{
    width:250px;
    height:300px;}
    .card-body a{

        background-color: #384957d5;
        color: #F7F7F7;
        padding: 7px 25px 10px ;
        text-decoration: none;
        
        
    }
    .card-title{
        color:#384957d5;
    }
   
    
    #attorneys img{
        width:220px;
        height:280px;
    }
    #attorneys .fa-envelope{
        font-size: 1.5rem;  
    color: #384957d5;
    }
    
    #footer{
        padding: 10px;
        background-color:#384957d5;
        color: #F7F7F7;
    }
    form{
        padding: 20px;
        margin: auto;
    }
    button{

        background-color: #384957d5;
        padding: 10px 25px 10px ;
        color:#F7F7F7;
        border: #F7F7F7;
    }

    #client{
        width: 150px;
        height: 150px;
    }
    